<!DOCTYPE html>
<html lang="{{ site.language }}">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="author" content="Baklib">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% meta_tags %}
  {{ 'baklib/shared/editor.css' | asset_url | stylesheet_tag: data-turbo-track: 'reload' }}
  {{ 'baklib/shared/editor.js' | asset_url | script_tag: defer: true, data-turbo-track: 'reload' }}
  {{ 'javascripts/main.js' | asset_url | script_tag: defer: true, data-turbo-track: 'reload' }}
  <!-- Tailwind -->
  {{ 'css/main.css' | asset_url | stylesheet_tag: data-turbo-track: 'reload' }}
  {%# TIPS：在低代码平台开发时，请打开下一行代码注释 %}
  {% if false %} {{ 'javascripts/cdn.tailwindcss.js' | asset_url | script_tag: data-turbo-track: 'reload' }} {% endif %}
  {{ site.settings.head_html }}
</head>

<body class="antialiased tracking-tight font-inter dark:bg-slate-900 dark:text-slate-200" id="js-body" >
  <!-- Page wrapper -->
  <div class="relative flex flex-col min-h-screen overflow-hidden supports-[overflow:clip]:overflow-clip">
    {% render "header", page: page %}
    <main class="grow">
      {{ content_for_layout }}
    </main>
  </div>
  <div id="x-teleport-target" class="relative z-[60] h-0 overflow-hidden"></div>
</body>

</html>
