{% assign pages = site.pages['/'].children_in_list %}
{% assign default_avatar_url = site.settings.default_avatar %}
{% unless default_avatar_url  %}
    {% assign default_avatar_url = 'images/avatar.svg' |  asset_url %}
{% endunless %}

<main class="grow">
  <section class="relative overflow-hidden">
    <!-- Illustration -->
    <div class="absolute -translate-x-1/2 pointer-events-none left-1/2 -z-10" aria-hidden="true">
        <img src="{{ 'images/demo/hero-illustration.svg' | asset_url }}" class="max-w-none" width="1905" height="622" alt="Hero Illustration">
    </div>

    <div class="px-4 mx-auto max-w-7xl sm:px-6">
      <div class="pt-6 md:pt-12">
        <div class="md:flex md:justify-between md:divide-x md:divide-slate-300 dark:md:divide-slate-800">

          <!-- Page content -->
          <div class="max-w-5xl md:grow">
            <div class="my-4 md:pr-6 lg:pr-20">

              <div class="flex flex-col space-y-6 lg:flex-row lg:space-y-0 lg:space-x-6">

                <!-- Upvotes button -->
                <div class="flex space-x-2 md:block md:space-y-2 md:space-x-0">
                  <div class="shrink-0" x-data="{ posted_feedback: {{ page.visitor_posted_feedback }}, feedback_count: {{ page | feedback_type_count: site.settings.feedback_useful_type }}  } ">
                    <div x-show="posted_feedback == true" @click="posted_feedback=false;feedback_count--" x-cloak>
                      {% form_tag 'delete_feedback', page: page, useful_type: site.settings.feedback_useful_type %}
                        <div class="shrink-0">
                          <button name="feedback[useful_type]" value="{{ site.settings.feedback_useful_type  }}"
                          :class="{ '!bg-primary': '{{ site.settings.feedback_useful_type }}' === '{{ page.last_feedback_emoji }}' }"
                            class="flex flex-col items-center w-12 h-12 pt-2 text-center border rounded border-primary bg-primary hover:bg-slate-300 dark:hover:bg-slate-800">
                              <svg class="fill-white" width="12" height="6" xmlns="http://www.w3.org/2000/svg">
                                  <path d="m0 6 6-6 6 6z"></path>
                              </svg>
                              <span class="text-white" x-text="feedback_count"></span>
                          </button>
                        </div>
                      {% endform_tag %}
                    </div>
                    <div x-show="posted_feedback == false" @click="posted_feedback=true;feedback_count++"  x-cloak>
                      {% form_tag 'feedback', page: page %}
                        <div class="shrink-0">
                          <button name="feedback[useful_type]" value="{{ site.settings.feedback_useful_type }}"
                            class="flex flex-col items-center w-12 h-12 pt-2 text-center border rounded border-primary-200 bg-gradient-to-tr from-slate-200/20 via-slate-200/50 to-slate-200/20 hover:bg-slate-300 dark:hover:bg-slate-800">
                              <svg class="fill-violet-500" width="12" height="6" xmlns="http://www.w3.org/2000/svg">
                                  <path d="m0 6 6-6 6 6z"></path>
                              </svg>
                              <span class="" x-text="feedback_count"></span>
                          </button>
                        </div>
                      {% endform_tag %}
                    </div>
                  </div>
                </div>

                <!-- Content -->
                <div>
                  <article class="mb-10">
                    <!-- Page header -->
                    <header class="mb-4">
                      <h1 class="mb-4 h3 md:h2 font-aspekta">{{ page.link_text  }}</h1>
                      <div class="flex items-center">
                        <img class="mr-2 rounded-full" src="{{ page.author.avatar_url | default: default_avatar_url }}" width="20" height="20"
                          alt="User 01" />
                        <div class="text-sm text-slate-600">
                          <a class="font-medium transition duration-150 ease-in-out text-primary dark:text-white hover:text-indigo-400"
                            href="#0">{{ page.author.name }}</a> · <span class="text-slate-500">{{ page.created_at | date: "%Y-%m-%d %H:%M" }}</span> · <span
                            class="text-slate-500">{{ page.comments | size }} {{ 'generic.comments' | t}}</span>
                        </div>
                      </div>
                    </header>

                    <!-- Page content -->
                    <div class="break-words ProseMirror">
                      {{ page.settings.content | sanitize_html }}
                    </div>
                    <!--Tags-->
                    {% if page.settings.tags.size > 0 %}
                      <div class="flex items-center py-4 mt-4 space-x-2 text-xs font-light md:mt-8 shrink-0 ">
                          <p>{{ 'generic.tags' | t }} </p>
                          {% for tag in page.settings.tags %}
                            {% render 'tag', tag: tag %}
                          {% endfor %}
                      </div>
                    {% endif %}
                  </article>

                  {% if page.author.id == current_user.member_id %}
                    <div class="my-4">
                      <div class="relative p-5 border rounded-md bg-slate-200 dark:bg-slate-800 border-slate-600">
                        <div class="items-center space-y-3 sm:flex sm:space-y-0 sm:space-x-5">
                            <a href="/s/edit?page_path={{ page.full_slug }}" class="btn">
                              <span>{{ 'buttons.edit' | t}}</span>
                            </a>
                            {% form_tag 'delete_page', page %}
                              <button class="btn btn-ghost"> {{ 'buttons.delete' | t}} </button>
                            {% endform_tag %}
                        </div>
                      </div>
                    </div>
                  {% endif %}

                  <!-- Comments list -->
                  <div data-controller="load_more">
                    <!-- Content header -->
                    <div class="pb-6 mb-4 border-b border-slate-200 dark:border-slate-800">
                      <div class="items-center justify-between text-center md:text-left md:flex">
                          <!-- Left: Links -->
                          <ul class="inline-flex flex-wrap -mx-3 -my-1 text-sm font-medium grow" >
                              <li class="relative px-3 py-1 text-xl font-semibold transition duration-150 ease-in-out h2">
                                <span x-show="'{{ order_by }}' === '-views_count'" x-cloak>
                                  <svg class="absolute fill-secondary top-full" width="53" height="6" xmlns="http://www.w3.org/2000/svg">
                                      <path fill-opacity=".64" d="M50.363.872c2.487.543 2.08.136 2.014.404l.623.318-.47.455.113.18c-.03.031-.066.098-.097.095-.77-.08-1.515.287-2.292.213-.779-.074-1.573-.116-2.345.015-.628.106-1.25.138-1.878.17-.194.01-.352-.217-.587-.036-.176.136-.45.027-.68.027h-1.45c-.23.001-.46.004-.689.011-.016 0-.032.042-.09.124l.58.103-.002.122c-.24.008-.48.02-.72.023-.254.005-.507.003-.76 0-.043 0-.107.003-.126-.032-.255-.476-.542-.417-.882-.174-.127.092-.317.015-.478.015-2.164 0-4.328-.005-6.491.007-.236.002-.508-.16-.705.184-.009.015-.056.015-.065 0-.195-.318-.416.156-.57-.012-.2-.217-.335-.18-.523-.001-.057.054-.207-.043-.3-.11-.13-.093-.123-.221-.001-.334-.024-.04-.044-.1-.073-.113-.04-.016-.112-.016-.127.017-.045.098-.051.24-.107.317-.073.103-.18.222-.272.224-.16.002-.356-.182-.472-.103-.185.127-.302.111-.486.007-.125-.071-.31.1-.47.103-.643.015-1.286.006-1.914.006l-.17-.384-.333.395c-.269.094-.735-.262-1.016.387l-.227-.348c-.546.213-1.075.243-1.602-.008-.546.35-1.111.045-1.663.165.012-.177.04-.377.024-.385-.215-.1-.18.172-.241.355h-.732l-.097.369c-.032-.022-.077-.033-.093-.069-.132-.278-.356-.392-.533-.268-.415.292-.841.137-1.261.17-.361.028-.725.006-1.095.145l.665.093c-.507.062-1.045.459-1.423-.179-.266.053-.478.128-.691.133-.663.016-1.326.006-1.975.006l-.11.441-.294-.615c-.046.264-.155.537-.353.348-.209-.2-.329-.062-.52-.01-.35.098-.723.028-1.097.153l.523.114c-.028.063-.047.14-.066.14-.507.007-1.015.038-1.52-.005-.372-.032-.732-.264-1.117-.18-.062.013-.124.038-.186.147l.554.08c-.578.083-1.143.302-1.726.002-.257-.133-.58-.022-.89.08l.385.132c-.023.05-.04.128-.06.128-.23.007-.459.002-.688 0-.124-.405-.308.196-.496-.07-.122-.173-.376.234-.623-.082-.134-.171-.474-.03-.731.094l.543.119c-.04.061-.064.132-.09.133-.345.007-.69-.017-1.035.009-.672.049-1.354.045-2.01.219-.355.094-.702.113-1.052.172-.3.05-.593.198-.71.75-.12 0-.387.067-.41-.01-.103-.338-.415-.373-.485-.664C.78 5.025.67 4.94.507 4.813c-.33-.258-.4-.75-.234-1.23C.183 3.447.09 3.312 0 3.18c.004-.07-.01-.153.013-.19.258-.407.56-.616.973-.687.676-.117 1.336-.405 2.029-.36.397-.337.836-.132 1.255-.195.327-.049.65-.15.979-.182.32-.032.677.114.958-.036.405-.215.8-.188 1.193-.146.504.053.969-.23 1.463-.213.506.016 1.034.13 1.515-.024.928-.298 1.863-.001 2.777-.184C14.289.736 15.433.957 16.55.758 18.056.488 19.555.693 21.055.6c.183-.011.368.001.552-.002.155-.003.325.057.429-.183.082.303.26-.03.404.116.087.09.306-.096.47-.119.182-.025.367-.005.552-.005h2.071c.184 0 .37-.02.553.004.215.028.429-.073.653.14.107.102.358-.13.545-.137.575-.021 1.15.006 1.726-.015.214-.007.455.14.637-.18.12-.21.21.367.39.052.057-.1.344-.116.375-.044.174.403.37-.21.503.039.188.352.305-.062.457-.049.085.008.17.045.255.068.149.04.386.182.432.104.189-.318.41-.006.617-.128.215-.127.495-.046.746-.046 4.512 0 9.024.009 13.536-.012.601-.003 1.223.207 1.807-.18.307.366.61-.041.922-.022.965.058 1.932.021 2.964.021-.034.15-.055.365-.09.37-.488.062-.96.248-1.462.222-1.011-.051-2.025-.016-3.038-.011-.037 0-.073.06-.11.091.046.033.09.078.139.095.121.041.233.254.377.012.037-.064.175-.01.267-.01 1.334 0 2.667 0 1.629.08-2.406.048-2.403.014-2.4-.02-.214-.08-.425-.185-.643-.23-.116-.024-.847.01-.952-.01-.089-.017-.227-.064-.265-.003-.188.302-.426.177-.641.178-3.27.007-6.54.008-9.811-.003-.192 0-.41.141-.585-.124-.033-.051-.154-.076-.178-.04-.21.315-.475.133-.712.167-.487.072-.985-.115-1.468.18-.137.082-.345-.038-.516-.09-.328-.103-.655-.177-.975.033-.112.073-.25-.201-.343.059-.176-.31-.473-.26-.627-.148-.256.188-.44-.167-.657-.03-.038.024-.096.017-.12.055-.114.18-.195.14-.344.027-.144-.108-.369-.14-.521-.062-.198.101-.436.179-.588.136-.236-.067-.436.023-.651.035-1.685.086-3.37-.117-5.058.171-1.259.215-2.536-.077-3.813.182-1.161.235-2.352-.06-3.535.198-.932.204-1.896-.086-2.845.198-.44.131-.92-.018-1.378.034-.42.048-.83-.087-1.27.125-.411.198-.908.048-1.368.058-.07.002-.141.038-.212.058.094.131.18.135.265.13.81-.038 1.617.014 2.433-.16.98-.21 1.983.057 2.984-.192.928-.232 1.904.174 2.84-.227.13-.056.243.369.373.016.15.316.29-.02.434-.024 1.133-.033 2.273.158 3.399-.173.151-.044.377-.08.463.033.196.258.292-.145.462-.056.141.074.318.016.48.016.92 0 1.842.01 2.763-.008.237-.004.5.146.713-.164.024-.035.149.077.23.102.106.033.28.115.312.056.129-.233.205-.03.315-.006.109.024.236-.16.355-.16.192 0 .417-.134.57.16.134-.22.317-.173.49-.17.175.001.37-.08.494.186.125-.272.322-.185.497-.186 1.151-.005 2.303.034 3.454-.013 1.132-.047 2.275.219 3.398-.182.138.185.318.085.473.103.2.023.406-.094.61-.095.236 0 .495-.113.698.168.226-.344.52-.165.777-.166 3.04-.015 6.08-.01 9.12-.011.222 0 .444-.019 3.074-.11" />
                                  </svg>
                                </span>
                                <span>{{ page.comments | size }} {{ 'generic.comments' | t}} </span>
                              </li>
                          </ul>
                      </div>
                    </div>

                    {% render 'reply_page_form', target: page %}

                    <!-- Comments (1st level) -->
                    {% assign answers = page.comments | roots  %}
                    <ul id="page_{{ page.id }}_replies_list" data-load_more-target="container">
                      {% paginate_tag answers, per: 4 %}
                        {% for reply in answers %}
                          {% render 'reply', reply: reply %}
                        {% endfor %}
                      {% endpaginate_tag %}
                    </ul>
                    {{ paginate.next.page  }}
                    {% if paginate.next_page %}
                      <button id="load_more" data-action="click->load_more#loadMore" data-load_more-url-value="/s/replies?page_path={{ page.full_slug }}&_page={{ paginate.next_page }}"
                        data-load_more-target="button" class="btn btn-ghost"
                      >
                        {{ 'generic.read_more' | t}}
                      </button>
                    {% endif %}
                  </div>
                </div>

              </div>
            </div>
          </div>

          <!-- Sidebar -->
          {% if true %}
          <aside class="hidden pt-0 pb-12 md:flex md:w-64 lg:w-80 md:shrink-0 md:pb-20">
            <div class="md:pl-6 lg:pl-10">
              <!-- Sidebar content -->
              <div class="space-y-6">
                <!-- Search form -->
                {% render 'search_form' %}
                <!-- Tag Cloud -->
                <div class="[&:nth-child(-n+4)]:-order-1 bg-gradient-to-tr from-slate-50/20 via-blue-100/50 to-orange-50/20 dark:from-slate-800/20 dark:via-slate-800/50 dark:to-slate-800/20">
                  <div class="relative p-3">
                    <div class="mb-4 font-semibold uppercase text-md">
                        {{ 'generic.tags' | t}}</div>
                    <div class="flex flex-wrap gap-2">
                        {% for tag in site.tags %}
                            {% render 'tag', tag: tag %}
                        {% endfor %}
                    </div>
                  </div>
                </div>

                <!-- Block 1 -->
                <div class="[&:nth-child(-n+4)]:-order-1 bg-gradient-to-tr from-slate-50/20 via-blue-100/50 to-orange-50/20 dark:from-slate-800/20 dark:via-slate-800/50 dark:to-slate-800/20">
                    <div class="relative p-3">
                        <div class="mb-4 font-semibold uppercase text-md">
                            {{ 'generic.recommend' | t}}</div>
                        <ul>
                            {% assign index_count = 0 %}
                            {% for item in pages %}
                                {% if index_count > 5 %}
                                    {% break %}
                                {% endif %}
                                {% if item.settings.is_recommend %}
                                    {% assign index_count = index_count + 1 %}
                                    <!-- Event 1 -->
                                    <li class="relative pb-4 last-of-type:pb-0">
                                        <div class="pl-6">
                                            <div class="text-xs font-medium uppercase text-violet-600 mb-0.5">
                                                {{ item.created_at | date: "%Y-%m-%d" }}
                                            </div>
                                            <div class="mb-2 text-sm">
                                                <a class="font-medium text-gray-800 hover:text-gray-900 dark:text-gray-100 dark:hover:text-white"
                                                    href="{{ item.path }}">{{ item.settings.title }}</a>
                                            </div>
                                            <!-- Avatars -->
                                            <div class="flex items-center space-x-2">
                                                <div class="flex -space-x-3 -ml-0.5">
                                                    {% assign comments = item.comments | roots | order_by: '-created_at' | limit: 3 %}
                                                    {% for comment in comments %}
                                                        <img class="box-content border-2 border-white rounded-full dark:border-gray-800" src="{{ comment.author.avatar_url | default: default_avatar_url  }}" width="32" height="32" alt="User 01" />
                                                    {% endfor %}
                                                </div>
                                                <div
                                                    class="text-xs italic font-medium text-gray-400 dark:text-white">
                                                    +{{ item.comments | size }}</div>
                                            </div>
                                        </div>
                                        <!-- Timeline element -->
                                        <div aria-hidden="true">
                                            <div
                                                class="absolute top-0.5 -bottom-1 left-0.5 ml-px w-0.5 bg-gray-200 dark:bg-gray-700">
                                            </div>
                                            <div
                                                class="absolute top-0.5 left-0 -ml-0.5 w-3 h-3 rounded-full bg-gray-400 dark:bg-gray-500 border-2 border-white dark:border-gray-800">
                                            </div>
                                        </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <div class="mt-4">
                            <a href="/s/feed"
                                class="w-full border-gray-200 btn btn-ghost dark:bg-gray-800 dark:border-gray-700/60 hover:border-gray-300 dark:hover:border-gray-600 dark:text-gray-300">
                                {{ 'generic.read_more' | t}} </a>
                        </div>
                    </div>
                </div>
                <!-- New Discussions -->
                <div>
                  <h3 class="mb-2 text-base font-semibold"> {{ 'generic.newest_reply' | t}}... </h3>
                  <hr class="mb-2"/>
                  {% assign newest_pages = pages | order_by: '-created_at' | limit: 5  %}
                  <ul class="space-y-3">
                      {% for page in newest_pages %}
                          <li>
                              <div class="flex items-center mb-1">
                                  <img class="mr-2 rounded-full" src="{{ page.author.avatar_url | default: default_avatar_url }}" width="16" height="16" alt="User 06" />
                                  <div class="text-xs">
                                      <a class="font-medium transition duration-150 ease-in-out text-primary dark:text-white hover:text-indigo-400" href="#0">{{ page.author.name }}</a>
                                  </div>
                              </div>
                              <h3 class="mb-1 text-sm">
                                  <a class="font-semibold transition duration-150 ease-in-out hover:text-slate-600 dark:hover:text-white" href="{{ page.full_slug  }}"> {{ page.link_text }}</a>
                              </h3>
                              <div class="text-xs text-slate-600">
                                  <span class="text-slate-500">{{ page.created_at | date: "%Y-%m-%d %H:%M" }}</span> · <span class="text-slate-500"> {{ page.comments | size }} {{ 'generic.comments' | t }} </span>
                              </div>
                          </li>
                      {% endfor %}
                  </ul>
                </div>

                <!-- Popular Pages -->
                <div>
                  <div class="">
                    <h3 class="mb-2 text-base font-semibold"> {{ 'generic.popular_reply' | t}}... </h3>
                  </div>
                  <ul class="space-y-3">
                    {% assign popular_pages = pages | order_by: '-visits_count' | limit: 3  %}
                    {% for page in popular_pages %}
                        <li>
                            <div class="flex items-center mb-1">
                                <img class="mr-2 rounded-full" src="{{ page.author.avatar_url | default: default_avatar_url }}" width="16" height="16" alt="User 06" />
                                <div class="text-xs">
                                    <a class="font-medium transition duration-150 ease-in-out text-primary dark:text-white hover:text-indigo-400" href="#0">{{ page.author.name }}</a>
                                </div>
                            </div>
                            <h3 class="mb-1 text-sm">
                                <a class="font-semibold transition duration-150 ease-in-out hover:text-slate-600 dark:hover:text-white" href="{{ page.full_slug  }}"> {{ page.link_text }}</a>
                            </h3>
                            <div class="text-xs text-slate-600">
                                <span class="text-slate-500">{{ page.created_at | date: "%Y-%m-%d %H:%M" }}</span> · <span class="text-slate-500"> {{ page.comments | size }} {{ 'generic.comments' | t }}  </span>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                </div>

                <!-- Newsletter -->
                {%# render 'news_letter' %}

              </div>

            </div>
          </aside>
          {% endif %}

        </div>
      </div>
    </div>
  </section>
</main>

{% schema %}
  {
    "name": "帖子页面模板",
    "description": "发布的页面详情模板",
    "thumb_url": "images/theme/page.png",
    "sub_page_templates": ["page"],
    "settings": [
      {
        "id": "title",
        "type": "text",
        "placeholder": "",
        "label": "标题",
        "info": "显示在正文上方的文章标题"
      },
      {
        "id": "content",
        "type": "richtext",
        "label": "问题内容"
      },
      {
        "id": "tags",
        "type": "tag_picker",
        "multiple": true,
        "label": "页面标签"
      },
      {
        "id": "is_recommend",
        "type": "checkbox",
        "label": "是否推荐",
        "info": "选定推荐后，会在推荐栏目显示",
        "default": false
      },
      {
        "id": "thumb_image_url",
        "type": "image_picker",
        "ratio": "16:9",
        "width": 240,
        "label": "封面图",
        "info": "选择一个 16:9 的图片，默认宽度 240px"
      },
      {
        "id": "video_url",
        "type": "video_picker",
        "label": "视频",
        "info": "宣传视频"
      },
      {
        "id": "text_color",
        "type": "color",
        "label": "Hero 文字颜色"
      },
      {
        "id": "distance",
        "type": "range",
        "label": "配送范围",
        "min": "0",
        "max": "100",
        "step": "0.1",
        "default": "15",
        "unit": "km",
        "info": "选择快递可配送范围"
      }
    ],
    "user_creatable": true,
    "user_editable": true,
    "user_deletable": true,
    "user_permitted_attributes": ["title", "content", "tags", "thumb_image_url", "video_url", "text_color", "distance"]
  }
{% endschema %}
