{% if params.type == "post" %}
  {% assign items = current_user.pages | order_by: '-published_at' %}
{% elsif params.type == "comment" %}
{% assign comments = site.comments %}
  {% query items from comments %}
      {
        "where": {
          "reply_to_user_id_eq": "{{ current_user.id }}",
          "author_id_not_eq": "{{ current_user.id }}"
        }
      }
  {% endquery %}
{% endif %}

<body class="min-h-screen bg-gray-50">
  <!-- Main Content -->
  <main class="container px-4 py-8 mx-auto">
    <div class="relative flex-wrap-reverse px-6 mx-auto mt-4 max-w-7xl main-board-layout">
      <div class="flex items-center"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2.5"
          class="text-background-accent/70 dark:text-background-accent !w-5 !h-5" stroke="currentColor" fill="none"
          stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M3 12h4l3 8l4 -16l3 8h4"></path>
        </svg>
        <h1 class="text-lg font-semibold text-gray-700 dark:text-gray-100">动态</h1>
      </div>
      <div class="my-6 rounded-md border-gray-800 shadow">
        <div class="flex overflow-auto gap-1 items-center px-3 py-3 text-sm font-medium">
          <a href="?type=post"
            class="px-3 py-1 font-semibold rounded  {% if params.type == 'post' %} shadow-sm text-slate-700 border font-semibold {% else %} text-gray-500 {% endif %} ">
            帖子
          </a>
          <a href="?type=comment"
            class="px-3 py-1  rounded font-semibold {% if params.type == 'comment' %} shadow-sm text-slate-700 border font-semibold {% else %} text-gray-500 {% endif %} ">
            评论互动
          </a>
        </div>

        {% assign default_avatar_url = site.settings.default_avatar %}
        {% unless default_avatar_url %}
        {% assign default_avatar_url = 'images/avatar.svg' | asset_url %}
        {% endunless %}
        <div class="relative">
          {% if params.type == "post" %}
            {% for page in items %}
              <!-- Item -->
              <div>
                  <div class="flex relative pr-0 w-full shadow-sm duration-75 ease-in sm:items-stretch hover:bg-gray-50/90 dark:hover:bg-border/30"
                  data-controller="dialog-fetch"
                  data-dialog-fetch-url-value="{{ page.path }}"
                  >
                      <div  class="overflow-auto relative py-4 pr-3 pl-4 my-auto w-full min-w-0 h-full rounded-md cursor-pointer sm:pl-5 sm:py-5">
                          <div class="relative">
                              {% if page.settings.pinned %}
                              <div class="flex absolute -right-2 -top-4 items-center p-1 rounded-md">
                                  <svg xmlns="http://www.w3.org/2000/svg" class="w-3 h-3 -mt-[3px] mr-0.5" width="44" height="44"
                                      viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round"
                                      stroke-linejoin="round" style="color: rgb(71, 141, 206);">
                                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                      <path
                                          d="M15.113 3.21l.094 .083l5.5 5.5a1 1 0 0 1 -1.175 1.59l-3.172 3.171l-1.424 3.797a1 1 0 0 1 -.158 .277l-.07 .08l-1.5 1.5a1 1 0 0 1 -1.32 .082l-.095 -.083l-2.793 -2.792l-3.793 3.792a1 1 0 0 1 -1.497 -1.32l.083 -.094l3.792 -3.793l-2.792 -2.793a1 1 0 0 1 -.083 -1.32l.083 -.094l1.5 -1.5a1 1 0 0 1 .258 -.187l.098 -.042l3.796 -1.425l3.171 -3.17a1 1 0 0 1 1.497 -1.26z"
                                          stroke-width="0" fill="currentColor"></path>
                                  </svg>
                                  <p class="dark:text-foreground uppercase text-[11px] tracking-wide font-semibold">Pinned</p>
                              </div>
                              {% endif %}

                              <p class="text-base font-semibold line-clamp-2 content dark:text-white">{{ page.settings.title }}</p>
                              <p class="mt-1 text-gray-600 line-clamp-2 dark:text-foreground">{{ page.settings.content | strip_html |
                                  truncate: 280 }}</p>

                              <div class="flex flex-wrap gap-3 justify-between items-end pt-3.5">
                                  <div class="flex items-center mr-2">
                                      <div class="flex relative flex-shrink-0 justify-center items-center w-5 h-5 rounded-full">
                                          <div class="absolute inset-0 rounded-full bg-gray-100/30 dark:bg-secondary/70"></div>
                                          <img class="object-cover relative w-full h-full rounded-full"
                                              src="{{ page.author.avatar_url }}">
                                      </div>
                                      <p class="ml-1.5 text-sm dark:text-foreground">
                                          <span class="font-medium">{{ page.author.name }}</span>
                                          <span
                                              class="ml-1.5 text-xs font-medium sm:text-sm sm:font-normal dark:text-foreground/70 text-background-accent">
                                              {{ page.created_at | time_ago }}{% if page.created_at %} 前{% endif %}
                                          </span>
                                      </p>
                                  </div>

                                  <div class="flex items-center space-x-2 -mb-[3px]">
                                      <div
                                          class="flex items-center px-2 py-1 text-sm font-medium rounded-md border-gray-200 dark:text-foreground">
                                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                              aria-hidden="true"
                                              class="mr-1 w-3.5 h-3.5 text-background-accent/50 dark:text-background-accent">
                                              <path fill-rule="evenodd"
                                                  d="M18 10c0 3.866-3.582 7-8 7a8.841 8.841 0 01-4.083-.98L2 17l1.338-3.123C2.493 12.767 2 11.434 2 10c0-3.866 3.582-7 8-7s8 3.134 8 7zM7 9H5v2h2V9zm8 0h-2v2h2V9zM9 9h2v2H9V9z"
                                                  clip-rule="evenodd"></path>
                                          </svg>{{ page.comments | size }}
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <a class="hidden absolute inset-0 rounded-lg sm:block" aria-hidden="true" data-action="click->dialog-fetch#openDialog" ></a>
                          <a class="absolute inset-0 rounded-lg sm:hidden" href="{{ page.path }}" data-turbo-frame="_top"></a>
                      </div>
                  </div>
              </div>
            {% endfor %}
          {% elsif params.type == "comment" %}
            {% for reply in items %}
              <div>
                  <div class="relative pr-0 w-full shadow-sm duration-75 ease-in sm:items-stretch hover:bg-gray-50/90 dark:hover:bg-border/30"
                  data-controller="dialog-fetch"
                  data-dialog-fetch-url-value="{{  }}"
                  x-data="{open: false}"
                  >
                    <div class="flex p-4 space-x-3 rounded-lg border border-gray-100 transition hover:shadow-sm hover:bg-gray-50">
                      <img src="https://i.pravatar.cc/48" class="mt-1 w-10 h-10 rounded-full" />

                      <div class="flex-1 text-sm text-gray-700">
                        {% if reply.parent %}
                          <div class="flex justify-between items-center">
                            <div>
                              <span class="font-semibold"> {{ reply.author.name }} </span>
                              回复了你在
                              <a class="text-blue-600 hover:underline" href="#">《{{ reply.target.settings.title }}》</a> 中的评论
                            </div>
                            <span class="text-xs text-gray-400" title="2025-07-20 17:19"> {{ reply.created_at | time_ago }}前</span>
                          </div>

                          <!-- 引用评论 -->
                          <blockquote class="pl-3 mt-2 text-gray-500 border-l-2 border-gray-200">
                            你：{{ reply.parent.body }}
                          </blockquote>
                        {% else %}
                          <div class="flex justify-between items-center">
                            <div>
                              <span class="font-semibold"> {{ reply.author.name }} </span>
                              评论了你的帖子
                              <a class="text-blue-600 hover:underline" href="#">《{{ reply.target.settings.title }}》</a>
                            </div>
                            <span class="text-xs text-gray-400" title="2025-07-20 17:19"> {{ reply.created_at | time_ago }}前</span>
                          </div>
                        {% endif %}

                        <!-- 回复内容 -->
                        <div class="mt-2 text-gray-800">
                          {{ reply.body }}
                        </div>

                        <!-- 操作按钮 -->

                        <div class="flex gap-2 items-center mt-3 text-xs">
                          <div class="flex items-center rounded-md">
                            <div
                              x-data="{ posted_feedback: {{ reply.visitor_posted_feedback | present? }}, feedback_count: {{ reply | feedback_type_count: site.settings.feedback_useful_type }}  } "
                              class="flex">
                              <div x-show="posted_feedback == true" @click="posted_feedback=false;feedback_count--" x-cloak class="flex">
                                {% form_tag 'delete_feedback', reply: reply, useful_type: site.settings.feedback_useful_type, class:
                                'flex' %}
                                  <button
                                    class="px-1 py-1 bg-transparent border border-transparent border-none shadow-none dark:shadow-none dark:bg-transparent dark:border-transparent hover:border-gray-100 hover:bg-gray-100/60 dark:hover:bg-border dark:hover:border-dark-accent"
                                    name="feedback[useful_type]" value="{{ site.settings.feedback_useful_type  }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                      :class="{ '!text-primary': 'posted_feedback' }" aria-hidden="true" class="w-4 h-4 secondary-svg">
                                      <path
                                        d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z">
                                      </path>
                                    </svg>
                                  </button>
                                  <p class="font-bold cursor-default  text-center dark:group-hover:bg-secondary main-transition text-gray-500 dark:border-border/80 text-[13px] py-1  dark:text-foreground px-2 empty:hidden"
                                    x-text="feedback_count"></p>
                                {% endform_tag %}
                              </div>
                              <div @click="posted_feedback=true;feedback_count++" class="flex" x-show="posted_feedback == false"  x-cloak>
                                {% form_tag 'feedback', reply: reply, class: 'flex' %}
                                  <button
                                    class="px-1 py-1 bg-transparent border border-transparent border-none shadow-none dark:shadow-none dark:bg-transparent dark:border-transparent hover:border-gray-100 hover:bg-gray-100/60 dark:hover:bg-border dark:hover:border-dark-accent"
                                    name="feedback[useful_type]" value="{{ site.settings.feedback_useful_type  }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
                                      class="w-4 h-4 secondary-svg">
                                      <path
                                        d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z">
                                      </path>
                                    </svg>
                                  </button>
                                  <p class="font-bold cursor-default  text-center dark:group-hover:bg-secondary main-transition text-gray-500 dark:border-border/80 text-[13px] py-1  dark:text-foreground px-2 empty:hidden"
                                    x-text="feedback_count"></p>
                                {% endform_tag %}
                              </div>
                            </div>
                          </div>
                          <button
                            class="inline-flex items-center p-1 text-xs text-gray-500 whitespace-nowrap bg-transparent border border-transparent shadow-none dark:shadow-none dark:text-foreground dark:hover:bg-secondary hover:bg-gray-50 sm:dark:hover:border-border sm:dark:border-transparent"
                            @click="open = !open">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
                              class="mr-1 w-3 secondary-svg">
                              <path fill-rule="evenodd"
                                d="M7.707 3.293a1 1 0 010 1.414L5.414 7H11a7 7 0 017 7v2a1 1 0 11-2 0v-2a5 5 0 00-5-5H5.414l2.293 2.293a1 1 0 11-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                clip-rule="evenodd"></path>
                            </svg>
                            回复
                          </button>
                        </div>

                        {% if reply.root %}
                          {% assign root = reply.root %}
                          {% else %}
                          {% assign root = reply %}
                        {% endif %}

                        {% render 'reply_answer_form', root: root, parent: reply %}

                      </div>
                    </div>
                  </div>
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>


  </main>
  <div aria-roledescription="dialog" id="headlessui-dialog" role="dialog" aria-modal="true"
    data-headlessui-state="open">
  </div>
</body>
